@import "colors";


.profile {
    background-color: $darkblue ;
    width: 100%;

    >main {
        height: 100%;
        background-color:$lightblue;
        max-width: 800px;
        margin: auto;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 15rem;
            height: 15rem;
            border-radius: 100%;
            box-shadow: 0 0 10px $dark;
            margin: 3rem;
        }
        h5{
            font-size: 2rem;
        }
        div{
            margin: 1rem;
            a{
                background-color: $darkblue;
                color: white;
                padding: 0.7rem 1.5rem;
                font-size: 1rem;
                border-radius: 5px;
                &:hover{
                    background-color: rgb(73, 73, 72);
                    color: white;
                }
            }
        }
        button{
            background-color: red;
            width: 15rem;
            color: white;
            outline: none;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            margin: 0.5rem;
            text-align: center;
            cursor: pointer;
            font-size: 1.1rem;
            &:hover{
                background-color: black;
                color: white;
            }
        }
    }
}